.gradle/
.kotlin/
.idea/*
!.idea/codeStyles/
build/
*~
*.swp
*.iml
local.properties
.classpath
.project
.settings/
out/
.DS_Store
/bin/
/test-config/
/dist/
/github/
man/*.1
man/*.5
man/man1
man/man5
