[Unit]
Description=Send secure messages to TextSecure/Signal clients
Requires=dbus.socket
After=dbus.socket
Wants=network.target
After=network.target

[Service]
Type=dbus
Environment=TEXTSECURE_CLI_OPTS="-Xms2m"
ExecStart=%dir%/bin/textsecure-cli -u %I --config /var/lib/textsecure-cli daemon --system
User=textsecure-cli
BusName=org.asamk.TextSecure

[Install]
WantedBy=multi-user.target
