[Unit]
Description=Send secure messages to TextSecure/Signal clients

[Service]
Type=dbus
ExecStart=%dir%/bin/textsecure-cli -u %number% --config /var/lib/textsecure-cli daemon --system
User=textsecure-cli
BusName=org.asamk.TextSecure

[Install]
Alias=dbus-org.asamk.TextSecure.service
